<footer>
<div class="footer mt-4 footer-here">
    <div class="f-socials">
        <a href="https://www.instagram.com/1brush.in.motion" class="social-logo"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UC_X_yd3HAFWeVZ5oEbygAXQ" class="social-logo"><i class="fa-brands fa-youtube"></i></a>
    </div>
    <div>&copy; Aasia Art Store Limited</div>
    <div class="f-link">
            <a href="/privacy">Privacy</a>&nbsp;&nbsp;
            <a href="/terms">Shipping-Policy</a>
    </div>
</div>
</footer>