<nav class="navbar navbar-expand-xxl bg-body-tertiary  border--bottom sticky-top ">
  <div class="container-fluid">
    <a href="/listings"><img src="../images/logo.png" alt="" height="50px" class="logo"></a>
    <h5 class="ms-0 site-name"><b>AASIA'S ART</b></h5>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"  >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <!-- <a class="nav-link "  href="/listings">Home</a> -->
        <a class="nav-link" href="/listings">All Paintings</a>
        <a class="nav-link "  href="/listings/about">About Me</a>
        <% if(currUser && currUser.email == "aasiataqi1811@gmail.com"){ %>
        <a class="nav-link" href="/listings/new">Add New Painting</a>
        <% } %>
        <% if(currUser){ %>
        <a class="nav-link" href="/listings/saved">Saved Paintings</a>
        <% } %> 
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currUser){ %>
        <a class="nav-link" href="/signup"><b>SignUp</b></a>
        <a class="nav-link" href="/login"><b>LogIn</b></a>
        <% } %>
        <% if(currUser){ %>
        <a class="nav-link nav-email" href="/listings"><i><%= currUser.email %></i></a>
        <a class="nav-link" href="/logOut"><b>LogOut</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>