<% layout("/layouts/boilerplate") %>
<body>
    <h2>create a new painting</h2>
    <form method="post" action="/listings/">
        <input name="listing[title]" placeholder="enter title" type="text"><br><br>
        <input name="listing[image]" placeholder="enter image url/link" type="text"><br><br>
        <input name="listing[price]" placeholder="enter price" type="number"><br><br>
        <input name="listing[size]" placeholder="enter size" type="text"><br><br>
        <input name="listing[medium]" placeholder="enter medium" type="text"><br><br>
        <!-- <input name="listing[available]" placeholder="yes or No" type="text"><br><br> -->
        <label>Available:</label>
        <select name="listing[available]">
            <option value="yes" >Yes</option>
            <option value="no" >No</option>
        </select><br><br>
        <button>Add</button>
    </form>
</body>