<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>artStore</title>
</head>
<body>
    <h2>create a new painting</h2>
    <form method="post" action="/listings/">
        <input name="listing[title]" placeholder="enter title" type="text"><br><br>
        <input name="listing[image]" placeholder="enter image url/link" type="text"><br><br>
        <input name="listing[price]" placeholder="enter price" type="number"><br><br>
        <input name="listing[size]" placeholder="enter size" type="text"><br><br>
        <input name="listing[medium]" placeholder="enter medium" type="text"><br><br>
        <input name="listing[available]" placeholder="yes or No" type="text"><br><br>
        <button>Add</button>
    </form>
</body>
</html>