<% layout("/layouts/boilerplate") %>
<body>
    <h2>Payment</h2>
    <p class="payment-para">We are working on the payment feature. Please wait for a while to buy paintings. For now  you can enjoy other features</p>
</body>
