<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">
          <h1 class="mb-5">LogIn Here</h1>
        <form action="/login" method="post" class="needs-validation" novalidate>
            <!-- <div class="mt-2 mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" placeholder="enter username" id="username" type="text" class="form-control" required>
            </div> -->
            <div class="mt-2 ">
                    <label for="email" class="form-label">Email</label>
                    <input name="email" placeholder="enter email" id="email" type="email" class="form-control" required>
                    
            </div>
            <div class="mt-2 ">
                    <label for="password" class="form-label">enter your artstore password</label>
                    <input name="password" placeholder="enter password" id="password" type="password" class="form-control" required>
                    
            </div>
            <button class="btn btn-success mt-3">LogIn</button>
            <a href="/forgot-password" class="forgot-password-link">Forgot-Password?</a>
        </form>
    </div>
</div>