<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h1>Reset Password</h1>
        <form action="/reset-password/<%= token %>" method="post" class="needs-validation" novalidate>
                <label for="password" class="form-label">set New password</label>
            <input name="password" type="password" placeholder="New password"  type="password" class="form-control" required>
            <button class="btn btn-success mt-3">Reset Password</button>
        </form>
    </div>
</div>